name: Build and Deploy Flask App to Render

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: oism28/soccer-stats-backend  # EJ: omarserrano/flask-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Login GHCR
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Build image
    - name: Build Docker Image
      run: |
        docker build -t $REGISTRY/$IMAGE_NAME:${{ github.sha }} .

    # Push image
    - name: Push Docker Image to GHCR
      run: |
        docker push $REGISTRY/$IMAGE_NAME:${{ github.sha }}

    # Trigger render deploy hook
    - name: Call Render Deploy Hook
      run: |
        curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
